* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    max-width: 1090px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.blog__left,
.blog__right {
    width: 50%;
}


.blog__left {
    width: 500px;
    height: 250px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
}

.blog__left-title,
.blog__right-title {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 60px;
}

.blog__left-subtitle {
    width: 500px;
    height: 60px;
    flex-shrink: 0;

    color: black;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 30px;
    padding-left: 20px;
}

.blog__left-subtitle::placeholder {
    color: #979797;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog__left-btn {
    width: 500px;
    height: 60px;
    flex-shrink: 0;
    background-color: #0094FF;
    border: none;
    cursor: pointer;

    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blog__left-btn:hover {
    background-color: #047ace;
}

.blog__right-subtitle {
    color: #979797;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}